<div class="jumbotron">
    <h1 class="display-4 text-center">About Goals App</h1>
    <hr class="my-4">
    <p class="lead text-center " color="red">An Angular app that let's you create your goals and tracks your goals until the day they'll be accomplished. It also gives you quotes from prominent programmers.</p>
    <p class="lead text-center">This app was designed by Samwel A.Rangili; an Aspiring Software Developer and a Freelance Programmer.</p>
    <p class="lead text-center">The app is capable of counting days,hours and minutes remaining for a goal to be accomplished</p>
  </div>